body {
  font-family: 'HelveticaLTStd-Roman', sans-serif;
  background-image: url("../img/bg.jpg");
}

a {
  color: $blue;
}

.mtop-15 {
  margin-top: 15px;
}


.mtop-20 {
  margin-top: 20px;
}

.mbot-15 {
  margin-bottom: 15px;
}

.mbot-20 {
  margin-bottom: 20px;
}

.label-primary {
  background-color: $blue;
  margin-right: 5px;
}

.panel {
  background-color: transparent;
}

.panel-content {
  // border-color: $green;

  & > .panel-heading {
    color: $white;
    background-color: $green;
    border-color: $green;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'HelveticaLTStd-BoldCond', sans-serif;

    + .panel-collapse > .panel-body {
      border-top-color: $blue;
    }
    .badge {
      color: $green;
      background-color: $green;
    }
  }

  & > .panel-body {
    background-color: $blue;
    color: $white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    article.item {
      min-height: 230px;
    }


    a {
      color: $white;
      

      -o-transition: color .2s ease-out;
      -ms-transition:color .2s ease-out;
      -moz-transition:color .2s ease-out;
      -webkit-transition:color .2s ease-out;

      &:hover,
      &:focus {
        text-decoration: none;
        color: darken($white, 30%);
      }

      & > h4 {
        line-height: 1.4;
        font-family: 'Roboto Slab', sans-serif;
      }
    }
  
    .date {
      font-size: 12px;
      color: darken($white, 30%);
    }

    .thumb {
      float: left;
      margin-right: 15px;
    }

    .excerpt {
      line-height: 1.7;
    }
  }

  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: $green;
    }
  }

  hr {
    border-top-color: $light-blue;
  }
}


.panel-footer {
  // border-color: $green;
  margin-bottom: 0px;
  padding: 0px;

  & > .panel-heading {
    color: $white;
    font-size: 12px;
    background-color: $blue;
    border-color: $blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    + .panel-collapse > .panel-body {
      border-top-color: $blue;
    }
    .badge {
      color: $green;
      background-color: $green;
    }
  }

  & > .panel-body {
    background-color: $white;
    font-size: 12px;

  }

  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: $green;
    }
  }
}



.panel-single {


  & > .panel-heading {
    color: $white;
    font-size: 12px;
    background-color: $blue;
    border-color: $blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    + .panel-collapse > .panel-body {
      border-top-color: $blue;
    }
    .badge {
      color: $green;
      background-color: $green;
    }
  }

  & > .panel-body {
    background-color: $white;
    border-radius: 10px;

    h1, h2 {
      color: $blue;
      font-family: 'HelveticaLTStd-Bold', sans-serif;
    }

    .property {
      height: 23px;      
      margin-bottom: 10px;

      .tag,
      .date {
        float: left;
      } 

      .date {
        color: $gray;
        padding: 3px;
      }
    }

    .article-body {
      @media screen and (max-width: 991px) {
        padding-bottom: 20px;
      }
      @media (min-width: 992px) {
        border-left: 1px solid lighten($gray, 20%);
      }
    }

    .post-action {
      @media screen and (max-width: 991px) {
        border-bottom: 1px solid lighten($gray, 20%);
        padding: 20px 15px;
      }
    }
  }

  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: $green;
    }
  }
}


.panel-category {


  & > .panel-heading {
    color: $white;
    background-color: $blue;
    border-color: $blue;
    font-weight: bold;
    font-family: 'HelveticaLTStd-BoldCond', sans-serif;
    text-transform: uppercase;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    + .panel-collapse > .panel-body {
      border-top-color: $blue;
    }
    .badge {
      color: $green;
      background-color: $green;
    }
  }

  & > .panel-body {
    background-color: $white;

    h1, h2, h3 {
      color: $blue;
      font-family: 'HelveticaLTStd-Bold', sans-serif;
    }

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
      & > h3 {
        line-height: 1.4em;

        @media screen and (max-width: 991px) {
          margin-top: 0px;
        }

        @media (min-width: 992px) {
          margin-top: -10px;
        }
      }
    }

    ul.list-category {
      & > li {
        @media (min-width: 992px){
          margin-top: 50px;
        }
      }
    }
  }

  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: $green;
    }
  }

  &.video {
    & > .panel-body {
      .img-container {
        height: 200px;
        overflow: hidden;
        border-radius: 6px;
        & > img {
          width: 100%;
        }
      }

      a {
        & > h3 {
          margin-top: 5px;
        }
      }


      .tag {
        margin-bottom: 20px;
      }
    }
  }
}

.main-slider {
  background-color: $blue;
  border-radius: 10px;


  .carousel-inner {
    border-radius: 10px;


    & > .item {
      height: 350px;
      border-radius: 10px;
      overflow: hidden;
      opacity: 0;
      transition-property: opacity;
      -webkit-transition-duration: 2s; /* Safari */
      transition-duration: 2s;

      a {
        color: $white;
      }

      img {
        width: 100%;
      }
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  @media screen and (min-width: 768px) {
    .carousel-caption {
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: left;
      padding-right: 20px;
    }
  }
}

.entry-action {
  .social-action {

    @media screen and (max-width: 991px) {
      display: block;
      width: 100%;
      height: 60px;
    }

    & > ul {
      & > li {
        height: 25px;

        @media screen and (max-width: 991px) {
          display: block;
          float: left;
          margin-right: 20px;
        }

        & > i {
          font-size: 20px;
          width: 25px;

          @media screen and (max-width: 991px) {
            float: left;
          }

        }

        & span {
          color: white;
          padding: 1px 10px;
          border-radius: 5px;

          @media (min-width: 991px) {
            float: right;

          }
        }
      }
    }

    .twitter {
      i {
        color: #55ACEE;
      }

      & > span {
        background-color: #55ACEE;
      }
    }

    .facebook {
      i {
        color: #46629E;
      }

      & > span {
        background-color: #46629E;
      }
    }

    .google {
      i {
        color: #DF4B38;
      }

      & > span {
        background-color: #DF4B38;
      }
    }

    .linkedin {
      i {
        color: #0077B5;
      }

      & > span {
        background-color: #0077B5;
      }
    }

    .email {
      i {
        color: $gray;
      }

      & > span {
        background-color:  $gray;
      }
    }
  }
}

.related-post {

  @media screen and (max-width: 991px) {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lighten($gray, 20%);
  }
}