#header-menu.affix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:10;
}

// Default navbar
.navbar-teras {
  font-family: 'HelveticaLTStd-BoldCond', sans-serif;

  @media screen and (max-width: 767px) {
    background-color: $blue;
  }

  @media (min-width: 768px) {
    background-color: $navbar-teras-bg;
  }

  border-color: $navbar-teras-border;
  padding: 10px 0;
  height: 65px;
  z-index: 99;

  .navbar-brand {
    color: $navbar-teras-brand-color;
    &:hover,
    &:focus {
      color: $navbar-teras-brand-hover-color;
      background-color: $navbar-teras-brand-hover-bg;
    }

    @media screen and (max-width: 767px) {

      padding-top: 0px;
      padding-bottom: 3px;

      & > img {
        height: 100%;
      }
    }
  }

  .navbar-text {
    color: $navbar-teras-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-teras-link-color;
      font-weight: 700;
      background-color: $gray;
      margin: 0 5px;
      border-radius: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-size: 13px;
      text-align: center;

      @media screen and (max-width: 767px){
        margin: 10px 10px;
      }

      &:hover,
      &:focus {
        color: $navbar-teras-link-hover-color;
        background-color: $navbar-teras-link-hover-bg;

        @media screen and (max-width: 767px){
          background-color: $green;
        }
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-teras-link-active-color;
        background-color: $navbar-teras-link-active-bg;

        @media screen and (max-width: 767px){
          background-color: $green;
        }
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-teras-link-disabled-color;
        background-color: $navbar-teras-link-disabled-bg;
      }
    }

    &.search {
      margin-right: 0px;
      margin-top: 4px;
      font-family: 'HelveticaLTStd-Roman', sans-serif;

      @media screen and (max-width: 767px) {
        margin-left: 0px;


      }

      @media (min-width: 768px) and (max-width: 991px) {
        .form-control {
          width: 175px;
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-teras-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-teras-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-teras-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-teras-border;

    @media screen and (max-width: 767px){
      background-color: $blue;
      border: 1px solid $gray;
    }
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-teras-link-active-bg;
        color: $navbar-teras-link-active-color;
      }
    }

    @media (max-width: 767px) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-teras-link-color;
          &:hover,
          &:focus {
            color: $navbar-teras-link-hover-color;
            background-color: $navbar-teras-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-teras-link-active-color;
            background-color: $navbar-teras-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-teras-link-disabled-color;
            background-color: $navbar-teras-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-teras-link-color;
    &:hover {
      color: $navbar-teras-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-teras-link-color;
    &:hover,
    &:focus {
      color: $navbar-teras-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-teras-link-disabled-color;
      }
    }
  }
}
