extends ../_layout.jade

block title
    title Teras Bintang

block content
    .container
        .row
            //- content
            .col-md-9
                .widget-area-1

                    //- Bikin kepo
                    //- http://stackoverflow.com/questions/28539610/bootstrap-carousel-animate-top-to-bottom-instead-of-left-to-right
                    .row.hidden-sm.hidden-xs.mbot-20
                        .col-md-12
                            .rolling
                                .row
                                    .col-md-4
                                    .col-md-8
                                        #rolling-text.carousel.slide.vertical(
                                            data-ride='carousel'
                                        )
                                            .carousel-inner
                                                .item.active
                                                    //img(src='http://placehold.it/770x120&amp;text=First+Slide')
                                                    h3 Surya Paloh dan HM Prasetyo Didesak Segera Dijadikan Tersangka, Soal Kasus Bansos Sumut
                                                each val in [1,2,3]
                                                    //.item
                                                    //    h3 Helloooo
                                                        // img(src='http://placehold.it/770x120&amp;text=Next+Slide')

                                            //a.left.carousel-control(href='#rolling-text', role='button', data-slide='prev')
                                            //    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                            //    span.sr-only Previous
                                            //a.right.carousel-control(href='#rolling-text', role='button', data-slide='next')
                                            //    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                            //    span.sr-only Next

                    //- Slider
                    .row.hidden-xs
                        .col-md-12
                            #slider.carousel.slide(data-ride='carousel')
                                // Indicator
                                ol.carousel-indicators
                                    li(data-target='slider', data-slide-to='0').active
                                    li(data-target='slider', data-slide-to='1')
                                    li(data-target='slider', data-slide-to='2')

                                .carousel-inner(role='listbox')
                                    .item.active
                                        img(src='...' alt='...')
                                        .carousel-caption ...
                                    .item
                                        img(src='...' alt='...')
                                        .carousel-caption ...
                                    .item
                                        img(src='...' alt='...')
                                        .carousel-caption ...

                                a.left.carousel-control(href='#slider', role='button', data-slide='prev')
                                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                    span.sr-only Previous
                                a.right.carousel-control(href='#slider', role='button', data-slide='next')
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                    span.sr-only Next



                //- artikel dan left sidebar
                .row
                    .widget-area-2
                        .col-md-4.hidden-sm.hidden-xs
                            .row
                                .col-sm-12
                                    .panel.panel-sidebar-left
                                        .panel-heading terpopuler
                                        .panel-body
                                            ul.list-unstyled
                                                each val in [1,2,3,4,5,6,7,8,9,10   ]
                                                    li.item
                                                        a(href='#')
                                                            .thumb
                                                                img.img-responsive.img-rounded(src='http://www.terasbintang.com/wp-content/uploads/wordpress-popular-posts/6783-featured-70x75.jpg')
                                                            .text Tempat Berkumpulnya Tokoh Radikal, Begini Komentar Warga di Area Lokasi
                            .row
                                .col-sm-12
                                    .panel.panel-sidebar-left
                                        .panel-heading Topik Pilihan
                                        .panel-body
                                            .list-group
                                                each val in [1,2,3,4,5,6,7,8,9,10   ]
                                                    a(href='#').list-group-item
                                                        .text # Tempat Berkumpulnya

                    .col-md-8
                        .panel.panel-content
                            .panel-heading TERKINI
                            .panel-body
                                each val in [1,2,3,4]
                                    article.item
                                        .date 31 Januari 2012
                                        h4
                                            a(href='single.html') Diam-diam, Jokowi Kebut Tol Jakarta-Brebes, Sebelum Mudik Lebaran Siap Pakai
                                        .thumb
                                            img(src='http://www.terasbintang.com/wp-content/uploads/2015/11/jokowi-tol-230x130.jpg').img-rounded
                                        .excerpt
                                            div TERASBINTANG.com – Menteri Pekerjaan Umum dan Perumahan Rakyat (PUPR), Basuki Hadimuljono, mengatakan pihaknya tengah mempercepat pembangunan jalan tol Pejagan-Pemalang. Jalan tol ini ditargetkan rampung sebelum musim mudik Lebaran 2016. “Sebelum mudik Lebaran jalan tol ini sudah selesai. Sekarang di lapangan, pekerjaan terus dikebut,” ujar Basuki. Berdasarkan data Badan Pengatur Jalan Tol (BPJT), pekerjaan Jalan To
                                        hr

            include ../_sidebar_right.jade