extends ../_layout.jade

block title
    title Teras Bintang

block content
    .container
        .row
            //- content
            .col-md-9
                .widget-area-1

                    //- Bikin kepo
                    //- http://stackoverflow.com/questions/28539610/bootstrap-carousel-animate-top-to-bottom-instead-of-left-to-right
                    .row.hidden-sm.hidden-xs.mbot-20
                        .col-md-12
                            .rolling
                                .row
                                    .col-md-4
                                    .col-md-8
                                        #rolling-text.carousel.slide.vertical(
                                            data-ride='carousel'
                                        )
                                            .carousel-inner
                                                .item.active
                                                    //img(src='http://placehold.it/770x120&amp;text=First+Slide')
                                                    a(href='#')
                                                        h3 Surya Paloh dan HM Prasetyo Didesak Segera Dijadikan Tersangka, Soal Kasus Bansos Sumut
                                                each val in [1,2,3]
                                                    //.item
                                                    //    h3 Helloooo
                                                        // img(src='http://placehold.it/770x120&amp;text=Next+Slide')

                                            //a.left.carousel-control(href='#rolling-text', role='button', data-slide='prev')
                                            //    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                            //    span.sr-only Previous
                                            //a.right.carousel-control(href='#rolling-text', role='button', data-slide='next')
                                            //    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                            //    span.sr-only Next

                    //- Slider
                    .row.hidden-xs.mbot-20
                        .col-md-12
                            #slider.carousel.slide.main-slider(data-ride='carousel')
                                // Indicator
                                ol.carousel-indicators
                                    li(data-target='#slider', data-slide-to='0').active
                                    li(data-target='#slider', data-slide-to='1')
                                    li(data-target='#slider', data-slide-to='2')

                                .carousel-inner(role='listbox')
                                    .item.active
                                        .row
                                            .col-md-8
                                                img(src='img/slider1.png' alt='Slider 1').img-responsive
                                            .col-md-4
                                                .carousel-caption
                                                    a(href='#')
                                                        h3 Slider 1 adalah slider satu
                                                    .excerpt TERASBINTANG.com – Terpidana kasus terorisme, Ali Imron,  menyesalkan munculnya komentar miri ...
                                    .item
                                        .row
                                            .col-md-8
                                                img(src='img/slider3.jpg' alt='Slider 1').img-responsive
                                            .col-md-4
                                                .carousel-caption
                                                    h3 Slider 2 adalah slider satu
                                                    .excerpt Specifies how many seconds or milliseconds a transition effect takes to complete. Default value is 0s, meaning there will be no effect

                                    .item
                                        .row
                                            .col-md-8
                                                img(src='img/slider2.jpg' alt='Slider 1').img-responsive
                                            .col-md-4
                                                .carousel-caption
                                                    h3 Slider 4 adalah slider satu
                                                    .excerpt W3Schools is optimized for learning, testing, and training.


                                //a.left.carousel-control(href='#slider', role='button', data-slide='prev')
                                //    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                //    span.sr-only Previous
                                //a.right.carousel-control(href='#slider', role='button', data-slide='next')
                                //    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                //    span.sr-only Next



                //- artikel dan left sidebar
                .row
                    .widget-area-2
                        .col-md-4.hidden-sm.hidden-xs
                            .row
                                .col-sm-12
                                    .panel.panel-sidebar-left
                                        .panel-heading terpopuler
                                        .panel-body
                                            ul.list-unstyled
                                                each val in [1,2,3,4,5,6,7,8,9,10   ]
                                                    li.item
                                                        a(href='#')
                                                            .thumb
                                                                img.img-responsive.img-rounded(src='http://www.terasbintang.com/wp-content/uploads/wordpress-popular-posts/6783-featured-70x75.jpg')
                                                            .text Tempat Berkumpulnya Tokoh Radikal, Begini Komentar Warga di Area Lokasi
                            .row
                                .col-sm-12
                                    .panel.panel-sidebar-left
                                        .panel-heading Topik Pilihan
                                        .panel-body
                                            .list-group
                                                each val in [1,2,3,4,5,6,7,8,9,10   ]
                                                    a(href='#').list-group-item
                                                        .text # Tempat Berkumpulnya

                    .col-md-8
                        .panel.panel-content
                            .panel-heading TERKINI
                            .panel-body
                                each val in [1,2,3,4]
                                    article.item
                                        .date 31 Januari 2012
                                        a(href='single.html')
                                            h4 Diam-diam, Jokowi Kebut Tol Jakarta-Brebes, Sebelum Mudik Lebaran Siap Pakai
                                        .thumb
                                            img(src='http://www.terasbintang.com/wp-content/uploads/2015/11/jokowi-tol-230x130.jpg').img-rounded
                                        .excerpt
                                            div TERASBINTANG.com – Menteri Pekerjaan Umum dan Perumahan Rakyat (PUPR), Basuki Hadimuljono, mengatakan ...
                                    hr

            include ../_sidebar_right.jade