extends ../_layout.jade

block title
    title Teras Bintang

block content
    .container
        .row
            //- content
            .col-md-9
                .panel.panel-single
                    .panel-body

                        .row.mbot-15
                            .col-md-12
                                h2 Harist Abu Ulya: Masih Ada yang Semisal dengan Afif

                                .property
                                    .tag
                                        a.label.label-primary(href='tag.html') kdkd
                                        a.label.label-primary(href='tag.html') kdkd
                                        a.label.label-primary(href='tag.html') kdkd
                                        a.label.label-primary(href='tag.html') kdkd
                                        a.label.label-primary(href='tag.html') kdkd

                                    .date.small  9 hour ago

                                .article-image
                                   img(src='http://www.terasbintang.com/wp-content/uploads/2016/01/harits-abu-ulya.jpg').img-responsive.img-rounded

                        .row.mbot-20
                            .col-md-9.article-body.pull-right
                                p TERASBINTANG.com — Pengamat Teroris Harist Abu Ulya mengatakan, teror bom seperti yang terjadi di Sarinah, Jakarta Pusat, Kamis (14/1/2016) lalu, dilakukan oleh sel terputus. Itu artinya teror dilakukan oleh perorangan atau sekelompok orang tanpa ada arahan langsung dari pimpinan ISIS di tingkat pusat.

                                p “Aksi itu dilakukan orang per individu, tidak harus terkoneksi dengan pimpinan pusat. Ini tergantung dengan loyalitas individu. Itu bagian dari amaliyah ISIS,” terang Harist Abu Ulya kepada Terasbintang.com, Minggu (17/1/2016).

                                p Karena dilakukan oleh sel terputus, aksi terorisme semacam ini bisa lebih berbahaya dan liar. Kesuksesan di satu aksi bisa jadi menginspirasi orang atau kelompok lainnya untuk melakukan hal serupa.

                                p Ketika disinggung apakah masih ada potensi ancaman mengintai keamanan di tanah air oleh jaringan teroris, Harist Abu Ulya dengan tegas mengatakan ada.

                                p “Potensi itu ada selama ada yang semisal dengan Afif. Sementara orang yang semisal dengan Afif masih ada di dalam penjara. Kalau dia sudah keluar, bisa melakukan hal yang sama. Ada lah, enggak usah saya sebut,” katanya.

                                p Seperti diketahui, Afif diduga kuat aktor utama di balik teror bom Sarinah beberapa hari lalu. Afif salah satu dari 40 orang yang ikut latihan militer pada 2010 silam.

                                p Afif baru dinyatakan bebas dari penjara, Agustus 2015 lalu dan langsung merencanakan teror.


                            .col-md-3.widget-area-4.pull-left
                                .entry-action
                                    .social-action(data-nonce='2ed3e19dc3')
                                        span.title-action Sharing
                                        ul.list-unstyled
                                            li#twitter-share.twitter(data-post-id='5423', data-nonce='830637a759')
                                                i.fa.fa-twitter-square
                                                a(href='https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.terasbintang.app%2Fwacanakan-kocok-ulang-pimpinan-dpr-pdip-sebut-uu-md3-produk-para-pecundang%2F&text=Wacanakan%20Kocok%20Ulang%20Pimpinan%20DPR%2C%20PDIP%20Sebut%20UU%20MD3%20Produk%20Para%20Pecundang') Twitter
                                                span.digit.digit-twitter 0
                                            li.facebook
                                                i.fa.fa-facebook-square
                                                a(href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.terasbintang.app%2Fwacanakan-kocok-ulang-pimpinan-dpr-pdip-sebut-uu-md3-produk-para-pecundang%2F&t=Wacanakan%20Kocok%20Ulang%20Pimpinan%20DPR%2C%20PDIP%20Sebut%20UU%20MD3%20Produk%20Para%20Pecundang') Facebook
                                                span.digit.digit-facebook 0
                                            li.google
                                                i.fa.fa-google-plus-square
                                                a(href='https://plus.google.com/share?url=http%3A%2F%2Fwww.terasbintang.app%2Fwacanakan-kocok-ulang-pimpinan-dpr-pdip-sebut-uu-md3-produk-para-pecundang%2F') Google +
                                                span 0
                                            li.linkedin
                                                i.fa.fa-linkedin-square
                                                a(href='http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.terasbintang.app%2Fwacanakan-kocok-ulang-pimpinan-dpr-pdip-sebut-uu-md3-produk-para-pecundang%2F&title=Wacanakan%20Kocok%20Ulang%20Pimpinan%20DPR%2C%20PDIP%20Sebut%20UU%20MD3%20Produk%20Para%20Pecundang&summary=terasbintang.app%20%26%238211%3B%C2%A0Politikus%20PDIP%20TB%20Hasanuddin%20sebut%C2%A0UU%20MD3%20tahun%202014%20adalah%20produk%20rekayasa%20dan%20kelicikan%20para%20pecundang%20yang%20merusak%20logika%20sehat%20dan%20tatanan%20kehidupan%20berdemokrasi.%20Hal%20tersebut%20diungkapkan%20Hasanuddin%20menyusul%20keputusan%20bersejarah%20Setya%20Novanto%20yang%20menjabat%20sebagai%20Ketua%20DPR%20RI%20memilih%20mengundurkan%20diri%20usai%20terlibat%20dalam%20polemik%20Freeport%20yang%20menyita%20seluruh%20perhatian%20publik.%20Menurutnya%2C%C2%A0UU%20MD3%20saat%20%5B%26hellip%3B%5D') Linkedin
                                                span.digit.digit-linkedin 0
                                            li.email
                                                i.fa.fa-envelope
                                                a(href='mailto:?Subject=Wacanakan%20Kocok%20Ulang%20Pimpinan%20DPR%2C%20PDIP%20Sebut%20UU%20MD3%20Produk%20Para%20Pecundang&body=http%3A%2F%2Fwww.terasbintang.app%2Fwacanakan-kocok-ulang-pimpinan-dpr-pdip-sebut-uu-md3-produk-para-pecundang%2F') Email this article
                                    .tag-action
                                        span.title-action Tags
                                        span.tags-links
                                            a(href='http://www.terasbintang.app/tag/tb-hasanuddin/', rel='tag') TB Hasanuddin
                                            | ,
                                            a(href='http://www.terasbintang.app/tag/uu-md3/', rel='tag') UU MD

                        .clearfix
                        .row.related-post.mbot-20
                            .col-sm-12
                                h4 Related Posts
                            each val in [1,2,3,4]
                                .col-md-3
                                    img.img-responsive.img-rounded(src='http://www.terasbintang.com/wp-content/uploads/2016/01/harits-abu-ulya.jpg')
                                    a(href='#')
                                        h4 Harist Abu Ulya: Masih Ada yang Semisal dengan Afif

            include ../_sidebar_right.jade