//- right sidebar
.widget-area-3
    .col-md-3
        .row.hidden-sm.hidden-xs.mbot-20
            .col-sm-12
                img.img-responsive.img-rounded(src='http://www.terasbintang.com/wp-content/uploads/2015/11/aha.gif')
        .row.hidden-xs
            .col-sm-12
                .panel.panel-sidebar-right
                    .panel-heading sisi lain
                    .panel-body
                        ul.list-unstyled
                            each val in [1,2,3,4,5]
                                li.item
                                    a(href='#')
                                        .text Siap Rilis Album di 4 Negara, Hijau Daun Mau Go Internasional?
                                        .thumb
                                            img.img-responsive.img-rounded(src='http://www.terasbintang.com/wp-content/uploads/2015/12/angel-karamoy-230x130.jpg')
                                    hr
